{% extends 'base.html' %}

{% block head %}
<title>New Posts</title>
{% endblock %}

{% block body %}

<hr>
<h2>Create New Blog Post:</h2>
<form action="/posts/new" method="POST">
    <label for="exampleFormControlTextarea1">Title</label>
    <input class="form-control" type="text" name='title' id='title' placeholder="Enter Title" aria-label="Title">
    <br>
    <label for="exampleFormControlTextarea1">Author</label>
    <input class="form-control" type="text" name='author' id='author' placeholder="Enter Author" aria-label="Author">
    <br>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" name="content" id="content" placeholder="Enter Post Content" rows="3"></textarea>
    </div>
    <br>
    <input type='submit' value='Post'>
</form>
<hr>

{% endblock %}
